<div class="login-wrapper fade-in">
    <div class="login-container student-theme">
        <div class="login-header">
            <h1>🎒 Aula Virtual</h1>
            <p>Consulta de Notas, Pagos y Tareas</p>
        </div>
        <form class="login-form">
            <div class="form-group">
                <label>Código del Estudiante</label>
                <input type="text" placeholder="Ej: 2025-001" required>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn-login btn-student">Entrar a mi Aula</button>
        </form>
    </div>
</div>