/* src/public/css/docentes/login.css */
.login-wrapper {
    height: 80vh; /* Ocupa casi toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7f6;
    background-image: url('/images/pattern-docente.png'); /* Opcional */
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-top: 5px solid #3f51b5; /* AZUL INSTITUCIONAL */
}

.login-header h1 { color: #3f51b5; margin-bottom: 5px; }
.login-header p { color: #666; margin-bottom: 20px; font-size: 0.9em; }

.form-group { margin-bottom: 15px; text-align: left; }
.form-group label { display: block; font-weight: bold; color: #444; margin-bottom: 5px; }
.form-group input { 
    width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; 
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #3f51b5; /* AZUL */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}
.btn-login:hover { background: #303f9f; }